<h2>Some content</h2>
<ul id="my-list">
  <li>Hello, my friends!</li>
  <li>My name is Phil!</li>
  <li>This a list</li>
</ul>
<div class="alert alert-success" id="result-alert" style="display: none;">
</div>