<section>
  <h3>Events</h3>
  {{#each events}}  
    <article class="events">
      <h4><a href="/events/{{id}}">{{title}}</a></h4>
      <p>{{description}}</p>
      <p>{{startTime}}</p>
    </article>
  {{/each}}
</section>