<div class="row">
  <div class="col-sm-12">
    <form id="static-form" method="post">
      <div class="form-group">
        <label for="number1">First Number</label>
        <input type="number" class="form-control" id="number1" name="number1" placeholder="First Number" value="{{firstNumber}}">
      </div>
      <div class="form-group">
        <label for="number2">Second Number</label>
        <input type="number" class="form-control" id="number2" name="number2" placeholder="Second Number" value="{{secondNumber}}">
      </div>
      <div class="form-group">
        <label for="operation">Operation</label>
        <select class="form-control" value="{{operation}}" id="operation" name="operation">
          <option value="add">Addition</option>
          <option value="subtract">Subtraction</option>
          <option value="multiply">Multiplication</option>
          <option value="divide">Division</option>
        </select>
      </div>
      <div class="form-group hidden" id="error-container">
        <div class="alert alert-danger text-goes-here">
        </div>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-default">Submit</button>
      </div>
      <div class="form-group hidden" id="result-container">
        <div class="alert alert-success text-goes-here">
        </div>
      </div>
    </form>
  </div>
</div>