<div class="row">
    <div class="col-sm-12 col-md-6">      
        {{#each todoItems}}      
        {{> todo_item }}
        {{/each}}
    </div>
    <div id="new-content">
    </div>
    <div class="col-sm-12 col-md-4">
    <form id="new-item-form">
        <label>Task Name <input id="new-task-name" type="text" /></label>
        <label>Task Description <textarea id="new-task-description"></textarea></label>
        <input type="submit" value="add new task" />
    </form>
</div>
