<div class="row" class="todo-item">
    <div class="col-sm-12 col-md-8">
        <h3>{{ title }}</h3>
        <p>{{ task }}</p>
        {{#if notDone }}
            <a class="finishItem" data-id="{{id}}">Finish</a> 
        {{/if}}
        {{#if done }}
            <em>This task has been completed</em>
        {{/if}}
    </div>
</div>