<section>
  <header><h3>Locations</h3></header>
  {{#each locations}}  
    <article class="location">
      <h4><a href="/locations/{{id}}">{{name}}</a></h4>
      <p>{{location}}</p>
    </article>
  {{/each}}
</section>