<article class="post">
  <header><h3>Location Detail</h3></header>
  <h6>Name:</h6><p>{{ location.name }}</p>
  <h6>Location:</h6><p>{{ location.location }}</p>
  
  {{#if location.events.length}}
    <h4>Events Happening around this location</h4>
    <ul>
      {{#each location.events}}
        <li><a href="/events/{{this.id}}">{{this.title}}</a></li>
      {{/each}}
    </ul>
  {{/if}}

</article>
