<ul class="nav nav-pills">
    <li role="presentation"><a href="/examples/location">Nothing Added</a></li>
    <li role="presentation"><a href="/examples/location?search_query=search_value">Add Search</a></li>
    <li role="presentation"><a href="/examples/location#some-hash" id="change-hash">Add Hash</a></li>
</ul>
<table class="table table-striped" id="location-data">
    <thead>
    <tr>
        <th>Property Name</th>
        <th>Type</th> 
        <th>Value</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>