<section id="window-open">
    <button id="open-new-window">Open Google</button>
    <button id="close-window">Close Google</button>
</section>

<section id="the-timeout">
    <h2>The Timeout</h2>
    <p>The next paragraph should update 5 seconds after you click the button.</p>
    <button id="start-timeout">Start the timeout!</button>
    <button id="cancel-timeout" style="display: none">Cancel it!</button>
    <p class="result"></p>
</section>

<section id="the-interval">
    <h2>The Interval</h2>
    <p>The next paragraph should update every 1.5 seconds.</p>
    <p class="result"></p>
</section>