<article class="new-post">
  <h1>Make a Post</h1>
  <form action="/posts" method="POST" class="new-post-form">
    <label>
      Post Title
      <input type="text" name="title" placeholder="Post Title" value="{{post.title}}" class="full-width-input"/>
    </label>
    <label for="post-body">
      Post Body
    </label>
    <textarea id="post-body" name="body" rows="4" placeholder="Post Content" class="full-width-input">{{post.body}}</textarea>

    <label for="poster">
      Poster
    </label>
    <select class="full-width-input" name="posterId">
      <option value="">Select User...</option>
      <option value="c49d055e-108c-42b2-9f19-af1ab418e2ba">Phil</option>
    </select>
    <button type="submit">Create New Post</button>
  </form>
  {{#if hasErrors}}
  <ul class="error-list">
    {{#each errors}}
    <li>
      {{this}}
    </li>
    {{/each}}
  </ul>
  {{/if}}
</article>