<div class="row">
    <div class="col-sm-12 col-md-8">
        <h3><%= todoItem.title %></h3>
        <p><%= todoItem.task %></p>
        <a class="finishItem" data-id="<%= todoItem.id %>">Finish</a>
    </div>
</div>